@import "active_admin/mixins"

.active_admin
  .activeadmin-translations
    margin-bottom: 20px

    &> ul
      position: relative
      top: 4px
      padding: 0 10px

      &> li
        display: inline-block

        &> a
          display: inline-block
          color: #666
          margin-right: 3px
          text-decoration: none
          font-size: 17px
          padding: 8px 15px
          padding-bottom: 8px + 4px
          margin-bottom: 0

          &.error
            color: #932419

          &.active
            background: #f4f4f4
            border-top-right-radius: 4px
            border-top-left-radius: 4px
            margin-bottom: 0
            text-shadow: 0 1px 0 white
            color: #666 !important

    &> fieldset.inputs
      margin-bottom: 0

      ol
        padding-left: 0
        width: 100%

      li.hidden
        padding: 0 !important
